In [ ]:
%pip install scikit-learn
%pip install pandas

In [9]:
import sklearn
import pandas as pd

pd.set_option('display.max_columns', None)

In [22]:
raw_dataset = pd.read_csv("insurance_update.csv", sep=";", usecols=[
    'Make',
    'Model',
    # 'Manufacturing Year',
    'Fuel Type',
    'Engine Power (HP)',
    'Mileage (km)',
    'Number of Accidents',
    'Market Value ($)',
    'Total Owners',
    'Has Dashcam',
    'Vehicles in Family',
    'Driving Experience',
    'AGE',
    'HOMEKIDS',
    'EMPLOYED',
    'INCOME',
    'MSTATUS',
    'GENDER',
    'CAR_TYPE',
    'OLDCLAIM',
    'CLM_FREQ',
    'REVOKED',
    'CLM_AMT',
    'CAR_AGE',
    'CLAIM_FLAG'
])

In [23]:
raw_dataset

,Make,Model,Fuel Type,Engine Power (HP),Mileage (km),Number of Accidents,Market Value ($),Total Owners,Has Dashcam,Vehicles in Family,Driving Experience,AGE,HOMEKIDS,EMPLOYED,INCOME,MSTATUS,GENDER,CAR_TYPE,OLDCLAIM,CLM_FREQ,REVOKED,CLM_AMT,CAR_AGE,CLAIM_FLAG
0,Honda,Civic,Hybrid,202,40594,0,21440,1,False,4,3,60.0,0,True,"$67,349",True,M,Minivan,"$4,461",2,No,$0,18.0,0
1,BMW,X3,Diesel,431,5000,0,49166,1,True,3,1,43.0,0,True,"$91,449",False,M,Minivan,$0,0,No,$0,1.0,0
2,Volkswagen,Golf,Electric,144,53310,0,18669,1,True,2,2,48.0,0,True,"$52,881",False,M,Van,$0,0,No,$0,10.0,0
3,Chevrolet,Malibu,Hybrid,314,13355,0,27164,1,True,3,2,35.0,1,True,"$16,039",True,F,SUV,"$38,690",2,No,$0,10.0,0
4,Tesla,Model 3,Electric,395,73409,0,25265,1,True,4,2,51.0,0,True,NaN,True,M,Minivan,$0,0,No,$0,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Toyota,Corolla,Petrol,151,210885,1,2000,1,False,3,3,44.0,3,True,"$57,123",True,F,Minivan,$0,0,No,$0,1.0,0
9996,BMW,X5,Diesel,227,192219,0,2000,4,False,4,10,35.0,0,True,"$60,185",False,F,Van,$0,0,No,$0,6.0,0
9997,BMW,3 Series,Hybrid,491,101208,0,15632,1,False,3,2,69.0,0,True,"$60,965",True,F,SUV,$0,0,No,$0,20.0,0
9998,Tesla,Model 3,Electric,438,71917,0,25513,1,True,5,1,54.0,0,True,"$45,044",True,M,Van,$0,0,No,$0,11.0,0
9999,BMW,3 Series,Petrol,489,269686,0,2000,2,False,4,18,37.0,0,True,$0,True,F,SUV,$0,0,No,$0,1.0,0